html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #333;
}

::-webkit-scrollbar-track {
    background-color: #fff;
}

body {
    font-family: "Montserrat", sans-serif;
}

.header {
    margin-right: 3px;
    height: 30vh;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
    padding: 10px;
}

.header h1 {
    font-size: 2rem;
    letter-spacing: 0.5px;
    font-weight: 700;
}

.header p {
    font-size: 1rem;
    letter-spacing: 0.5px;
}

.searchContainer {
    margin-top: 2vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: 45vw;
    padding: 5px 20px;
    background-color: #333;
    border-radius: 8px;
}

.searchContainer input {
    color: #fff;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 10px;
    width: 100%;
    border-radius: 25px;
}

.searchContainer input::placeholder {
    letter-spacing: 0.5px;
    color: #e6e6e6;
}

.searchContainer .icon {
    font-size: 1.2rem;
    color: #fff;
}

.gallery {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin: 3vh 2vw;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 33.33%;
    gap: 15px;
}

.image-container {
    position: relative;
}

.delete-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.2rem;
    color: #fff;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    display: none;
}

.delete-icon:hover {
    color: #f83715;
}

.image-container:hover .delete-icon {
    display: block;
}

.image {
    width: 100%;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    object-fit: cover;
    height: auto;
    max-height: 70vh;
    cursor: pointer;
}

.image:hover {
    filter: brightness(0.7);
    transition: all 0.1s ease-in-out;
}

#display {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    display: none;
}

#display img {
    max-width: 90vw;
    max-height: 90vh;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 5);
}

#display .close {
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
}

.add {
    position: fixed;
    right: 1vw;
    bottom: 9vh;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2vh auto;
    padding: 12px 12px;
    font-size: 1.1rem;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: width 0.3s ease-out;
}

.add-icon {
    font-size: 1.5rem;
    transition: opacity 0.3s ease-out;
}

.add .button-text {
    display: none;
    margin-left: 10px;
    transition: opacity 0.1s ease-in-out;
}

.add:hover {
    background-color: #555;
    width: 11vw;
}

.add:hover .add-icon {
    opacity: 0;
    display: none;
}

.add:hover .button-text {
    text-wrap: nowrap;
    display: inline;
    opacity: 1;
}

.goodAlert {
    position: fixed;
    top: 3vh;
    right: 1vw;
    z-index: 1;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #1fb943;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    animation-name: alertAnimation;
    animation-duration: 3s;
    display: none;
}

.badAlert {
    position: fixed;
    top: 3vh;
    right: 1vw;
    z-index: 1;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #c5310c;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    animation-name: alertAnimation;
    animation-duration: 3s;
    display: none;
}

.deletion {
    position: fixed;
    top: 3vh;
    right: 1vw;
    z-index: 1;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #c5310c;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    animation-name: alertAnimation;
    animation-duration: 3s;
    display: none;
}

@keyframes alertAnimation {
    0%   {opacity: 50%;}
    25%   {opacity: 100%;}
    50%   {opacity: 100%;}
    75%   {opacity: 100%;}
    100%   {opacity: 0%;}
  }

.showAlert {
    display: block;
}

.footer {
    margin-top: 10vh;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: #fff;
}

.footer p {
    font-size: 1rem;
    letter-spacing: 0.5px;
}


/* Responsiveness for 850px and below. */
@media screen and (max-width: 850px) {
    .header .searchContainer {
        width: 70vw;
    }

    .image {
        max-height: 100vh;
    }

    .footer p {
        font-size: 0.8rem;
        letter-spacing: 0.3px;
    }
}

/* Responsiveness for 600px and below. */
@media screen and (max-width:600px) {
    .header {
        margin-right: 3px;
        height: 30vh;
        color: #333;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:10px;
        padding: 10px;
    }
    
    .header h1 {
        font-size: 1.75rem;
        letter-spacing: 0.5px;
        font-weight: 700;
        text-align: center;
    }
    
    .header p {
        font-size: 0.8rem;
        letter-spacing: 0.5px;
        text-align: center;
    }

    .header .searchContainer {
        width: 85vw;
    }

    .footer {
        height: 8vh;
    }
    
    .footer p {
        font-size: 0.7rem;
    }
}

